<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Библиотека</title>
    <!--<script
        src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js"></script>
    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore.js"></script>
    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.2.1/backbone.js"></script>
    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/backbone-localstorage.js/1.1.16/backbone.localStorage.js"></script>-->
    <script type="text/html" id="book-form-template">
        <label class="book-form__label">
            <span class="book-form__label-text">Книга: </span>
            <input id="book" class="book-form__input" type="text">
            <span class="book-form__error"></span>
        </label>
        <label class="book-form__label">
            <span class="book-form__label-text">Автор: </span>
            <input id="author" class="book-form__input" type="text">
            <span class="book-form__error"></span>
        </label>
        <label class="book-form__label">
            <span class="book-form__label-text">Год издания: </span>
            <input id="publish-year" class="book-form__input" type="text">
            <span class="book-form__error"></span>
        </label>
        <label class="book-form__label">
            <span class="book-form__label-text">Издательство: </span>
            <input id="publish-house" class="book-form__input" type="text">
            <span class="book-form__error"></span>
        </label>
        <label class="book-form__label">
            <span class="book-form__label-text">Описание: </span>
            <textarea name="" id="full-description" class="book-form__textarea" cols="35" rows="6"></textarea>
            <span class="book-form__error"></span>
        </label>
        <button id="submit-book" class="button book-form__button"
                type="button">Создать
        </button>
    </script>
    <script type="text/html" id="single-book-template">
        <ul class="library-book">
            <li class="library-book__property">Книга: <%= book %></li>
            <li class="library-book__property">Автор: <%= author %></li>
            <li class="library-book__property">Год издания: <%= publishYear %></li>
            <li class="library-book__property">Издательство: <%=
                                               publishHouse %></li>
            <li class="library-book__property">Описание: <%= shortDescription %></li>
            <li class="library-book__controls">
                <a class="button full-description"
                   href="#/book/<%= id %>">Подробнее</a>
                <button class="button edit-book">Редактировать</button>
                <button class="button delete-book">Удалить</button>
            </li>
        </ul>
    </script>
    <script type="text/html" id="single-book-detailed-template">
        <ul class="library-book">
            <li class="library-book__property">Книга: <%= book %></li>
            <li class="library-book__property">Автор: <%= author %></li>
            <li class="library-book__property">Год издания: <%= publishYear %></li>
            <li class="library-book__property">Издательство: <%=
                                               publishHouse %></li>
            <li class="library-book__property">Описание: <%= fullDescription %></li>
        </ul>
    </script>
    <script type="text/html" id="edit-form-template">
        <label class="book-form__label">
            <span class="book-form__label-text">Книга: </span>
            <input id="book-<%= cid %>" class="book-form__input"
                   type="text">
            <span class="book-form__error"></span>
        </label>
        <label class="book-form__label">
            <span class="book-form__label-text">Автор: </span>
            <input id="author-<%= cid %>" class="book-form__input" type="text">
            <span class="book-form__error"></span>
        </label>
        <label class="book-form__label">
            <span class="book-form__label-text">Год издания: </span>
            <input id="publish-year-<%= cid %>" class="book-form__input" type="text">
            <span class="book-form__error"></span>
        </label>
        <label class="book-form__label">
            <span class="book-form__label-text">Издательство: </span>
            <input id="publish-house-<%= cid %>" class="book-form__input" type="text">
            <span class="book-form__error"></span>
        </label>
        <label class="book-form__label">
            <span class="book-form__label-text">Описание: </span>
            <textarea name="" id="full-description-<%= cid %>" class="book-form__textarea" cols="35" rows="6"></textarea>
            <span class="book-form__error"></span>
        </label>
        <button class="button submit-edited-book book-form__button"
                type="button">Сохранить
        </button>
        <button class="button cancel-edit" type="button">Отменить</button>
    </script>
    <script src="dist/libs.min.js"></script>
    <!--<script src="dist/app.min.js"></script>-->
    <script src="init.js"></script>
    <script src="js/routers/LibraryRouter.js"></script>
    <script src="js/models/BookModel.js"></script>
    <script src="js/collections/LibraryCollection.js"></script>
    <script src="js/views/BaseView.js"></script>
    <script src="js/views/BookView.js"></script>
    <script src="js/views/BookViewDetailed.js"></script>
    <script src="js/views/EditView.js"></script>
    <script src="js/views/LibraryView.js"></script>
    <script src="js/views/FormView.js"></script>
    <script src="js/views/AppView.js"></script>
    <!--<script src="js/controllers/AppController.js"></script>-->
    <script src="app.js"></script>
    <!--<link rel="stylesheet" type="text/css" href="dist/style.min.css">-->
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
</head>
<body>
    <nav>
        <ul class="site-navigation">
            <li class="site-navigation__item"><a class="site-navigation__link" href="#/">Главная</a></li>
            <li class="site-navigation__item">Избранное</li>
            <li class="site-navigation__item">О проекте</li>
        </ul>
    </nav>
    <main id="content"></main>
</body>
</html>
